{% extends 'base.html'%}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Lifestyle Blogs</h2> 
      <div id="lifestyle">
        {{ macro.showBlog(lifestyle)}}
      </div>
      <h2>Career Blogs</h2>
      <div id="Career">
        {{ macro.showBlog(career) }}
      </div>
      <h2>Learning Blogs</h2>
      <div id="Learning">
        {{ macro.showBlog(learning) }}
      </div>
    </div>
    <div class="col-md-6">
      <h2>QUOTES</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <p class="text-center">{{ message }}</p>
              </div>
          {% endfor %}
      {% endif%}
  {% endwith %}


    </div>
 
  </div>
</div>

{% endblock%}