{% macro showBlog(blogs) %}
<div class="blog">
  {% if blogs %}
  {% for blog in blogs %}  
  <div class="card">
    <div class="card-header">
      {{blog.title}}
    </div>
    <div class="card-body ">
      <blockquote class="blockquote mb-0">
        <p id="quote">"{{blog.post}}".</p>
        <p class="blockquote-footer"> Posted by: <span class="small">{{blog.user.username}}</span> on: <small class="text-muted mr-2">{{ blog.time.strftime('%Y-%m-%d') }}</small></p>
      </blockquote>
      <div class="card-footer text-muted">
        <div class="row actions">
          <div class="col-md-4 ">
            <span>{{blog.comment.count()}} <i class="fas fa-comment"></i> <a href="{{url_for('main.comment',blog_id = blog.id)}}">Add Comment</a></span>
          </div>
          <div class="col-md-4 ">
            <span> <a href="#"><i class="fa fa-thumbs-up"></i> Upvotes: {{blog.upvote.count()}}</a></span>
          </div>
          <div class="col-md-4 ">
            <span> <a href="#"> <i class="fa fa-thumbs-down"></i> Downvotes: {{blog.downvote.count()}}</a></span>
          </div>    
        </div>
      </div>
    </div>
  </div>
  
 
  {% endfor %}
  {% endif %}
</div>

{% endmacro %}